<style>
  .brands-about-us {
    padding: 0 var(--padding-sides);
  }
  .brands-about-us__title {
    color: #073b43;
  }
  .brands-about-us__description {
    color: #073b43;
  }
</style>
<section class="brands-about-us page-width">
  <div class="brands-about-us__container">
    <div class="brands-about-us__content">
      <h1 class="brands-about-us__title">
        {{ page.title }}
      </h1>
      <div class="brands-about-us__description">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Brands About Us",
    "class": "brands-about-us",
    "settings": []
  }
{% endschema %}