<style>
  .servietto__bestsellers {
    --background-color: {{ section.settings.background_color }};
    --text-color: {{ section.settings.text_color }};
  }

</style>
{{ "servietto_bestsellers.css" | asset_url | stylesheet_tag }}
<section class="page-width servietto__bestsellers">
  <h2 class="servietto__bestsellers-header">{{ section.settings.subheader }}</h2>
  <ul class="servietto__bestsellers_products">
    {% if section.settings.collection != blank %}
      {% for product in section.settings.collection.products %}
        {% render 'servietto__product-card'
          , product: product %}
      {% endfor %}
    {% else %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <li>
              {% render 'servietto__product-card'
                , product: block.settings.product %}
            </li>
        {% endcase %}
      {% endfor %}
    {% endif %}
  </ul>
</section>


{% schema %}
  {
    "name": "Servietto bestsellers",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "header",
        "default": "Discover Your Style"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "subheader",
        "default": "Bestsellers"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#1C363D"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "limit": 4,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Servietto bestsellers"
      }
    ]
  }
{% endschema %}