.global__product-card {
  max-width: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.global__product-card > a.link--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block !important;
}

.variant-selector {
  position: relative;
  z-index: 2;
  margin-bottom: 12px;
  display: block;
  flex-grow: 1;
}

.variant-item {
  height: 100%;
}
.variant-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.variant-icon.active {
  position: relative;
}

.global__product-card-img-container {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.global__product-card-img-container > div {
  padding-bottom: 100%;
}

.global__product-card-img-container > div:has(svg) {
  padding-bottom: 0;
}
.global__product-card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.global__product-card-information {
  width: 100%;
  color: #383735;
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.global__product-card-top {
  flex-grow: 1;
}
.global__product-card-title {
  margin: 0 0 12px 0;
  font-family: var(--card-title-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  /* text-overflow: ellipsis; */
  /* -webkit-line-clamp: 2; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.global__product-card-title a {
  color: rgba(56, 55, 53, 1);
  text-decoration: none;
}

.global__product-card-review {
  font-family: var(--card-reviews-font);
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3333333333333333;
  text-align: left;
}

.global__product-card-review {
  margin-bottom: 12px;
}

.global__product-card-review svg {
  width: 20px;
  height: 20px;
}

.global__product-card-review svg path {
  fill: #f2c94c;
}

.global__product-card-review > span:has(svg) {
  height: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
}

.product-price-container .price-item.price-item--regular {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.global__product-card-logo {
  width: 60px;
  height: 21px;
  display: block;
  margin-bottom: 6.5px;
  object-fit: contain;
}

.global__product-card-title a::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.glide__track {
  overflow: hidden;
}

/* .naperee__bestsellers_products li {
  cursor: pointer;
} */

.price.global__product-price-container .price-item.price-item--regular {
  font-size: 16px;
  line-height: 1.6;
  color: #143338;
  font-weight: 500;
  font-family: var(--card-price-font);
}

variant-selector .glide__slide {
  width: 36px !important;
  height: 36px !important;
}

variant-selector .glide {
  position: relative;
  z-index: 2;
  margin-bottom: 12px;
}

variant-selector .glide__slides {
  column-gap: 0;
}

.variant-item {
  position: relative;
  width: 36px;
  height: 36px;
}

.variant-icon {
  width: 100%;
  height: 100%;
}

.variant-items {
  display: flex;
  gap: 12px;
}
.variant-item:hover:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  pointer-events: none;
}
.variant-item:has(img.active):after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  pointer-events: none;
}
.card__information-add-to-cart {
  margin-top: 1.5rem;
}
.card__information-add-to-cart .product-form__buttons {
  overflow: hidden;
}
@media screen and (max-width: 1450px) {
  .global__product-card-review {
    font-size: 14px;
  }
}
@media screen and (max-width: 992px) {
  .global__product-card-review svg {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 600px) {
  .global__product-card-title {
    font-size: 16px;
    line-height: 20px;
  }

  .price.global__product-price-container .price-item.price-item--regular {
    font-size: 16px;
    line-height: 20px;
  }

  .global__product-card-review {
    display: flex;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    /* justify-content: space-between  ; */
  }
}
