.lintext__bestsellers {
  padding: 100px 80px 100px 80px;
  background-color: var(--background-color);
  color: var(--text-color);
}
.lintext__bestsellers-text {
  max-width: 574px;
  padding-bottom: 60px;
}
.lintext__bestsellers-text h2,
.lintext__bestsellers-text p {
  padding: 0;
  margin: 0;
  color: inherit;
}
.lintext__bestsellers-text h2 {
  padding-bottom: 24px;
  font-family: "pp agrandir";
  font-size: 52px;
  font-weight: 800;
  line-height: 68px;
  text-align: left;
}
.lintext__bestsellers-text p {
  font-family: "pp agrandir";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.lintext__bestsellers-products {
  gap: 48px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.lintext__bestsellers-products a {
  color: #1a3748;
  text-decoration: none;
}
.lintext__bestsellers-products li {
  width: calc(25% - 48px);
}
.lintext__product-card-review span {
  display: flex;
  gap: 1px;
}
.lintext__product-card-review span svg path {
  fill: #f2c94c;
}
.lintext__bestsellers-products .lintext__product-card-price {
  color: #143338;
}
.lintext__product-card-information .card_icon {
  max-width: 55px;
}
.lintext__product-card-information .card_icon img {
  max-width: 100%;
}
@media screen and (max-width: 1440px) {
  .lintext__bestsellers-products {
    gap: 34px;
  }
  .lintext__bestsellers-products li {
    width: calc(25% - 34px);
  }
}
@media screen and (max-width: 1250px) {
  .lintext__bestsellers {
    padding: 100px 40px 100px 40px;
  }
}
@media screen and (max-width: 1100px) {
  .lintext__bestsellers-products {
    gap: 24px;
  }
  .lintext__bestsellers-products li {
    width: calc(25% - 24px);
  }
}
@media screen and (max-width: 992px) {
  .lintext__bestsellers-products {
    gap: 14px;
    flex-wrap: wrap;
  }
  .lintext__bestsellers-products li {
    width: calc(50% - 14px);
  }
  .lintext__product-card-information .lintext__product-card-title,
  .lintext__bestsellers-products .lintext__product-card-price {
    font-size: 16px;
    line-height: 1.55;
  }
  .lintext__product-card-information .lintext__product-card-review {
    padding-bottom: 8px;
  }
  .lintext__bestsellers-text p {
    font-size: 18px;
    line-height: 1.55;
  }
  .lintext__bestsellers-text h2 {
    font-size: 42px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 600px) {
  .lintext__bestsellers {
    padding: 50px 16px 50px;
  }
  .lintext__bestsellers-products li {
    width: 100%;
  }
  .lintext__bestsellers-text h2 {
    font-size: 32px;
    padding-bottom: 15px;
    line-height: 1.4;
  }
  .lintext__bestsellers-text {
    padding-bottom: 30px;
  }
  .lintext__product-card-information .lintext__product-card-title,
  .lintext__bestsellers-products .lintext__product-card-price {
    font-size: 14px;
  }
  .lintext__bestsellers-text p {
    font-size: 16px;
  }
}
