.lintext__contact {
    padding: 112px 80px 120px 80px;
    background-color: #f4f4f4;
    position: relative;
    color: var(--text-color);
    background-color: var(--background-color);
}

.lintext__contact-content {
    max-width: 547px;
    position: relative;
    z-index: 2;
    padding-bottom: 140px;
}

.lintext__contact-content h1,
.lintext__contact-content p {
    margin: 0;
    padding: 0;
    color: inherit;
}

.lintext__contact-content h1 {
    font-family: "pp agrandir";
    font-size: 64px;
    font-weight: 800;
    line-height: 112.5%;
    text-align: left;
    padding-bottom: 40px;
}

.lintext__contact-content p {
    font-family: "pp agrandir";
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    font-size: 28px;
}

.lintext__contact-images {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 17px;
    pointer-events: none;
}

.lintext__contact-images img {
    position: absolute;
    right: 0;
    z-index: 1;
    height: 65%;
    width: auto;
}

.lintext__contact-information {
    display: flex;
    max-width: 100%;
    position: relative;
    z-index: 2;
    gap: 112px;
    padding-bottom: 204px;
}

.lintext__contact-information > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lintext__contact-information svg path {
    fill: #D86752;
}

.lintext__contact-information p, .lintext__contact-information a {
    font-family: "faktum";
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    margin: 0;
    text-decoration: none;
    color: #1A3748;
}

.lintext__contact-form {
    position: relative;
    max-width: 617px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 40px;
    padding: 40px;
    z-index: 2;
    width: 100%;
}

.lintext__contact-form .field:after,
.lintext__contact-form .field:hover,
.field__input:focus,
.field:hover.field:after {
    box-shadow: none;
    border: none;
    border-radius: 12px;
}

.lintext__contact-form textarea {
    min-height: 72px;
}

.lintext__contact-form .contact__button {
    display: flex;
    position: relative;
}

.contact__button:hover:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.lintext__contact-form .button:after {
    box-shadow: none;
}

.lintext__contact-form .contact__button > button {
    width: 100%;
    background: #d86752;
    color: white;
    font-family: "pp agrandir";
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    border-radius: 100px;
    padding: 16px;
    text-transform: uppercase;
}

.lintext__contact-form .contact__button > button:before,
.lintext__contact-form .contact__button > button:after {
    display: none;
}

.lintext__contact-form .field label {
    font-family: "pp agrandir";
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    text-align: left;
    color: rgba(26, 55, 72, 0.5);
    display: none;
}

.lintext__contact-form .field {
    padding-bottom: 28px;
}

.lintext__contact-form .field__input:focus,
.lintext__contact-form .field__input:focus-visible {
    border: 1px solid rgba(13, 56, 74, 1);
    outline: none;
    border-radius: 12px;
    padding: 12px 24px;
}

.lintext__contact-form .field__input:focus,
.lintext__contact-form .field__input:not(:placeholder-shown),
.lintext__contact-form .field__input:-webkit-autofill {
    padding: 12px 24px;
}

.lintext__contact-form h3 {
    padding: 0;
    margin: 0;
    color: inherit;
    padding-bottom: 40px;
    font-family: "pp agrandir";
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}

.lintext__contact-form input,
.lintext__contact-form textarea {
    background-color: transparent;
    border: 1px solid rgba(26, 55, 72, 0.5);
    border-radius: 12px;
    color: var(--text-color);
    padding: 12px 24px;
}

.lintext__contact-form input::placeholder,
.lintext__contact-form textarea::placeholder {
    color: rgba(26, 55, 72, 0.6);
    font-family: "pp agrandir";
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    text-align: left;
    opacity: 1;
}

.lintext__contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 20px;
}

.lintext__contact-copy {
    max-width: 574px;
    font-size: 18px;
    line-height: 28px;
    color: #1A3748;
    text-align: left;
    font-family: "pp agrandir";
    margin: 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 1366px) {
    .lintext__contact-copy {
        max-width: 400px;
    }
}

@media screen and (max-width: 1250px) {
    .lintext__contact {
        padding: 19.2rem 40px;
    }

    .lintext__contact-information {
        gap: 56px;
    }
}

@media screen and (max-width: 992px) {
    .lintext__contact {
        padding: 12.2rem 4rem;
    }

    .lintext__contact-wrapper {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
    }

    .lintext__contact-copy {
        max-width: 100%;
    }

    .lintext__contact-form {
        max-width: 100%;
    }

    .lintext__contact-content h1 {
        font-size: 48px;
        padding-bottom: 16px;
    }

    .lintext__contact-content p {
        font-size: 14px;
    }

    .lintext__contact-content {
        max-width: 95%;
        padding-bottom: 9rem;
    }

    .lintext__contact-information {
        flex-wrap: wrap;
        gap: 3rem;
        padding-bottom: 9rem;
    }
}

@media (max-width: 768px) {
    .lintext__contact-images svg {
        opacity: .6;
    }

    .lintext__contact-images {
        filter: blur(3px);
    }
}

@media screen and (max-width: 600px) {
    .lintext__contact-information {
        flex-direction: column;
        row-gap: 10px;
    }

    .lintext__contact-information > div {
        flex-direction: row;
        column-gap: 10px;
        align-items: center;
    }

    .lintext__contact-information svg {
        width: 25px;
        height: 25px;
    }

    .lintext__contact-information p, .lintext__contact-information a {
        font-size: 16px;
        line-height: 20px;
    }

    .lintext__contact {
        padding: 40px 16px;
    }

    .lintext__contact-content h1 {
        font-size: 32px;
        padding-bottom: 12px;
    }

    .lintext__contact-content p {
        font-size: 16px;
    }

    .lintext__contact-content,
    .lintext__contact-information {
        padding-bottom: 20px;
    }

    .lintext__contact-form {
        padding: 40px 16px;
    }

    .lintext__contact-form h3 {
        font-size: 26px;
    }

    .lintext__contact-form .field {
        padding-bottom: 16px;
    }

    .lintext__contact-form h3 {
        padding-bottom: 20px;
    }

    .lintext__contact-copy {
        font-size: 16px;
        line-height: 20px;
    }

    .lintext__contact-form input, .lintext__contact-form textarea {
        padding: 10px 16px;
    }
}
