.lintext__product-features {
  padding: 8rem var(--padding-sides) 6rem var(--padding-sides);
  position: relative;
  color: var(--text-color);
}
.lintext__product-features::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0000001f;
}
.lintext__product-features-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.lintext__product-features-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lintext__product-features-text-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-bottom: 187px;
}
.lintext__product-features-text-container h2 {
  font-family: PP Agrandir;
  font-size: 52px;
  font-weight: 800;
  line-height: 130.76%;
  text-align: right;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  color: inherit;
}
.lintext__product-features-icons {
  position: relative;
  z-index: 1;
  display: flex;
  list-style: none;
  gap: 40px;
  padding: 0;
  margin: 0;
}
.lintext__product-features-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d384a;
  padding: 20px;
  justify-content: space-between;
  border-radius: 32px;
}
.lintext__product-features-icons li img {
  height: 68px;
  width: 68px;
  display: block;
  object-fit: contain;
  margin: 0 0 4px;
}
.lintext__product-features-icons li span {
  font-family: PP Agrandir;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 1250px) {
  .lintext__product-features {
    padding: 80px var(--padding-sides);
  }
}
@media screen and (max-width: 992px) {
  .lintext__product-features-text-container h2 {
    font-size: 42px;
  }
  .lintext__product-features-icons {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.5rem;
  }
  .lintext__product-features-icons li {
    padding: 20px 15px;
    flex: 0 0 calc(50% - 2rem);
    max-width: 210px;
  }
  .lintext__product-features-text-container {
    padding-bottom: 137px;
  }
}
@media screen and (max-width: 768px) {
  .lintext__product-features-text-container h2 {
    font-size: 32px;
  }
  .lintext__product-features-icons li span {
    font-size: 14px;
  }
  .lintext__product-features-icons li {
    flex: 0 0 calc(50% - 2rem);
    max-width: 150px;
  }
}
@media screen and (max-width: 600px) {
  .lintext__product-features {
    padding: 80px var(--padding-sides);
  }
  .lintext__product-features-text-container h2 {
    font-size: 24px;
  }
  .lintext__product-features-text-container {
    align-items: center;
  }
  .lintext__product-features-icons li {
    flex: 0 0 calc(50% - 1rem);
    max-width: 100%;
  }
  .lintext__product-features {
    padding: 60px 16px;
  }
  .lintext__product-features-text-container {
    padding-bottom: 50px;
  }
}
