.lintext__footer {
  padding: 80px var(--padding-sides) 70px;
  display: flex;
  justify-content: space-between;
}

.lintext__footer * {
  padding: 0;
  margin: 0;
}

.lintext__footer-left {
  display: flex;
  flex-direction: column;
  gap: 142px;
}

.lintext__footer-subscription-wrapper {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.lintext__footer-subscription-wrapper > h3 {
  font-family: "pp agrandir";
  font-size: 28px;
  font-weight: 800;
  line-height: 157%;
  text-align: left;
  max-width: 439px;
}

.lintext__footer-subscription-wrapper > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lintext__footer-subscription-input-container {
  display: flex;
  flex: 0.87;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
  height: 56px;
  border-radius: 100px;
  background-color: #ffffff;
  padding: 4px;
}

.lintext__footer-subscription-input-container input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  outline: none;
  border: none;
  color: #073b43;
  font-family: "pp agrandir";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.lintext__footer-subscription-input-container input::placeholder {
  color: #073b43;
  font-family: "pp agrandir";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}

.newsletter-submit-btn {
  border: none;
  background-color: #d86752;
  padding: 12px 28px;
  border-radius: 100px;
  font-family: pp agrandir;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.lintext__footer-logo {
  /* width: 161px;
      height: auto; */
}

.lintext__footer-contact {
  display: flex;
  flex-direction: column;
}

.lintext__footer-contact h5 {
  font-family: "pp agrandir";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  padding-bottom: 20px;
}

.lintext__footer-contact a {
  padding-bottom: 8px;
  margin-bottom: 7px;
  font-family: "pp agrandir";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  text-decoration: none;
  color: white;
  transition: all 0.2s linear;
  border-bottom: 1px solid transparent;
  width: fit-content;
}

.lintext__footer-contact a:hover {
  border-bottom: 1px solid #fff;
}
.lintext__footer-right-top {
  display: flex;
}

.lintext__footer-links {
  padding-left: 226px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lintext__footer-links h5 {
  font-family: "pp agrandir";
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  /* padding-bottom: 20px; */
}

.lintext__footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
}

.lintext__footer-links ul li {
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s linear;
  width: fit-content;
  line-height: 26px;
}

.lintext__footer-links ul li:hover {
  border-bottom: 1px solid #fff;
}
.lintext__footer-links ul a {
  font-family: pp agrandir;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.lintext__footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lintext__footer-right-bottom {
  text-align: right;
  font-family: pp agrandir;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1199px) {
  .lintext__footer-links {
    padding-left: 90px;
  }
}

@media screen and (max-width: 992px) {
  .lintext__footer {
    padding: 8.2rem var(--padding-sides);
    flex-direction: column;
  }

  .lintext__footer-links {
    padding-left: 100px;
  }

  .lintext__footer-right-bottom {
    text-align: center;
  }

  .lintext__footer-right-top {
    justify-content: space-between;
    padding-bottom: 4rem;
  }

  .lintext__footer-subscription-wrapper {
    max-width: 100%;
  }

  .lintext__footer-subscription-wrapper h3 {
    text-align: center;
  }

  .lintext__footer-subscription-wrapper > form {
    display: block;
  }

  .lintext__footer-left {
    align-items: center;
    padding-bottom: 5rem;
    gap: 60px;
  }
}

@media screen and (max-width: 768px) {
  .lintext__footer {
    padding: 4.2rem var(--padding-sides);
  }

  .lintext__footer-subscription-wrapper h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .lintext__footer-links {
    padding-left: 30px;
  }

  .lintext__footer-subscription-wrapper h3 {
    font-size: 24px;
    line-height: 1.4;
  }

  .lintext__footer-subscription-input-container input {
    flex: 1;
    max-width: calc(100% - 150px);
  }

  .newsletter-submit-btn {
    padding: 12px 18px;
    font-size: 14px;
    width: 150px;
  }

  .lintext__footer-right-top {
    padding-bottom: 2rem;
  }

  .lintext__footer-right-bottom,
  .lintext__footer-links ul a,
  .lintext__footer-contact a {
    font-size: 14px;
    line-height: 1.55;
  }
}
