.naptec__separation-image {
  padding: 0;
  padding-bottom: 120px;
}
.naptec__separation-image-top {
  /* background-color: #143338; */
  display: flex;
}
.naptec__separation-image-top img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.naptec__separation-image-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem var(--padding-sides);
  padding-bottom: 0;
  /* background-color: #143338; */
  margin-top: 2.4rem;
  border-top: 1px solid;
}
@media screen and (max-width: 992px) {
  .naptec__separation-image-bottom {
    justify-content: center;
  }
}
