.naptec__products {
  padding: 12rem var(--padding-sides);
}
.naptec__products-top {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.naptec__products-top-view-all {
  display: flex;
  align-items: start;
}
.naptec__products-top-view-all a {
  padding: 1.2rem 3.2rem;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  text-decoration: none;
  transition: 0.3;
}
.naptec__products-top-view-all a:hover {
  background-color: white;
  color: color;
  color: rgba(7, 59, 67, 1);
}
.naptec__products-top h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  margin-bottom: 1.2rem;
}
.naptec__products-top p {
  font-size: 21px;
  font-weight: 200;
  line-height: 154%;
  text-align: left;
  margin: 0;
}

.naptec__products-wrapper {
}
.naptec__products-container {
  display: flex;
  justify-content: start;
  list-style-type: none;
  gap: 3.2rem;
  padding: 0;
  flex-wrap: nowrap;
  margin: 0;
}
.naptec__products-list-item {
  width: 25%;
}

@media screen and (max-width: 1440px) {
  .naptec__products-container {
    justify-content: center;
  }
}
@media screen and (max-width: 1250px) {
  .naptec__products {
    padding: 10rem var(--padding-sides);
  }
  .naptec__products-list-item {
    width: calc(50% - 3rem);
  }
  .naptec__products-container {
    flex-wrap: wrap;
  }
  .naptec__products-top h2 {
    font-size: 48px;
  }
  .naptec__products-top p {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .naptec__products-container {
    gap: 1rem;
    row-gap: 4rem;
    justify-content: space-between;
  }
  .naptec__products-list-item {
    width: calc(50% - 1rem);
  }
  .naptec__products {
    padding: 8rem var(--padding-sides);
  }
  .naptec__products-top-view-all a {
    font-size: 14px;
    padding: 1.2rem 2.2rem;
    white-space: nowrap;
  }
  .naptec__products-top {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .naptec__products-top h2 {
    font-size: 38px;
  }
  .naptec__products-top p {
    font-size: 16px;
  }
  .naptec__product-card-information-top h5 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .naptec__products {
    padding: 4.8rem var(--padding-sides);
  }

  .naptec__products-top {
    flex-direction: column;
  }
  .naptec__products-top-view-all a {
    width: 100%;
  }
  .naptec__products-top h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  .naptec__products-top h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 450px) {
  .naptec__products-list-item {
    width: 100%;
  }
  .naptec__products-top-view-all a {
    font-size: 12px;
    padding: 1rem 1.5rem;
  }
}
