.naptec__perks {
  padding: 3.6rem;
  padding-inline: var(--padding-sides);
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.naptec__perks-item {
  display: flex;
  width: auto;
  /* max-width: 268px; */
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
.naptec__perks-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.naptec__perks-item p,
.naptec__perks-item h3 {
  margin: 0;
}
.naptec__perks-item h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  /* white-space: nowrap; */
}
.naptec__perks-item p {
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  text-align: left;
}
@media screen and (max-width: 1400px) {
  .naptec__perks-item h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1150px) {
  .naptec__perks-item h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 992px) {
  .naptec__perks-item {
    width: calc(50% - 3rem);
    max-width: 100%;
  }
  .naptec__perks {
    flex-wrap: wrap;
  }

  .naptec__perks-item {
    justify-content: flex-start;
    align-items: start;
  }
  .naptec__perks-item h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .naptec__perks-item h3 {
    font-size: 22px;
  }
  .naptec__perks-item p {
    font-size: 16px;
  }
  .naptec__perks {
    gap: 0;
    column-gap: 1rem;
    row-gap: 3rem;
    padding: 4.8rem 1.6rem;
  }
  .naptec__perks-item {
    width: calc(50% - 1rem);
  }
  .naptec__perks-item h3 {
    font-size: 16px;
  }
  .naptec__perks-item img {
    /* width: 22px; */
    object-fit: contain;
  }
}
