.servietto__main-hero {
  padding: 0;
}

.servietto__main-hero-item {
  height: min(100vh, 760px);
  position: relative;
  display: flex;
  align-items: center;
  padding: 164px var(--padding-sides) 80px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.servietto__main-hero_image {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.servietto__main-hero_image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: bottom right;
}

.servietto__main-hero_content {
  z-index: 1;
}

.servietto__main-hero_content h1,
.servietto__main-hero_content p,
.servietto__main-hero_content a {
  padding: 0;
  margin: 0;
  color: inherit;
}

.servietto__main-hero_content h1 {
  font-family: 'pp hatton';
  font-size: 92px;
  font-weight: 500;
  line-height: 108%;
  text-align: left;
  padding-bottom: 28px;
}

.servietto_main-hero_content-rest {
  text-wrap: nowrap;
}

.servietto__main-hero_content p {
  font-family: 'roc grotesk';
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
  text-align: left;
  padding-bottom: 40px;
}

.servietto__main-hero_content a {
  text-decoration: none;
  color: var(--button-color);
  font-family: 'pp hatton';
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 44px;
  border: 1px solid var(--button-color);
  border-radius: 100px;
  transition: var(--duration-default);
  display: block;
  width: fit-content;
}

.servietto__main-hero_content a:hover {
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  transition: var(--duration-default);
}

@media screen and (max-width: 1250px) {
  .servietto__main-hero-item {
    padding: 40px var(--padding-sides);
  }
}

@media screen and (max-width: 992px) {
  .servietto__main-hero_content h1 {
    font-size: 72px;
  }
}

@media screen and (max-width: 600px) {
  .servietto__main-hero-item {
    padding: 42px var(--padding-sides);
  }

  .servietto__main-hero-item {
    align-items: flex-start;
  }

  .servietto__main-hero_content h1 {
    font-size: 52px;
    padding-bottom: 10px;
  }

  .servietto__main-hero_content p {
    font-size: 25px;
    padding-bottom: 12px;
  }

  .servietto__main-hero-item {
    /* margin-top: 84px; */
  }
}

@media screen and (max-width: 400px) {
  .servietto__main-hero_content h1 {
    font-size: 42px;
  }
}
